html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
/* RESET */





#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.chat-dash {
  background-color: purple;
  height: 100%;
  width: 35%;
}

.side-panel-display {
  background-color: #ffffff;
  height: 100%;
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


  header {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 5px rgba(61, 61, 63, 0.25);

    h2{
      font-size: 2.5rem;
      font-weight: 600;
    }

    .sort-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .sort-icon {
        width: 2rem;
        height: 2rem;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  .resorts-display {
    width: 100%;
    height: 100%;
    overflow: scroll;
    // border: 1px solid red;

    .resort-conditions-display {
      // border: 1px solid blue;
      padding: 1rem;
      border-bottom: 1px solid rgb(61, 61, 63);
      transition: all 0.3s;

      .resort-conditions-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0rem;

      }

      .header-icon {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .expand-collapse-btn {
				z-index: 1;
				width: 3rem;
				height: 3rem;
				padding: 0.5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: cener;
        position: relative;
        margin-right: 1rem;
        cursor: pointer;

				div[class*="bar-1"] {
					width: 100%;
					border-bottom: 3px solid black;
          transform: translateY(2px)
				}

				div[class*="bar-2"] {
					width: 100%;
					border-bottom: 3px solid black;
          transform: rotate(90deg);
				}

				div[class*="bar-3"] {
					width: 50%;
					border-bottom: 2px solid black;
				}
			}

      .resort-conditions-current {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
      }

      .snow-condition {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 1rem 0rem 1rem;

        p {
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          padding-right: 1rem;
        }
      }

      .resort-conditions-calendar {
        width: 100%;
        // background-color: rebeccapurple;
      }

      p[class*="rating"] { 
        font-size: 2rem;
        font-weight: 800;

        padding-right: 1.2rem;
      }

      .rating-best {
        color: #067411;
      }

      .rating-good {
        color: #799210;
      }

      .rating-ok {
        color: #BC8F2A;
      }

      .rating-bad {
        color: #A15533;
      }

      .rating-na {
        color: #3B3E49;
      }



      .resort-name {
        font-size: 2rem;
        font-weight: 600;
        color: #000000;
        // max-width: 25rem;
        // overflow: hidden;
        white-space: nowrap;
        text-align: start;
        text-overflow: ellipsis;        
        padding-right: 1.2rem;
        flex-grow: 1;
      }

      .twenty-four-hr-snow, .seventy-two-hr-snow, .conditions-detail, .lifts-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 1.2rem;

        p:nth-child(1) {
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          padding-bottom: 0.2rem;
        }

        p:nth-child(2) {
          font-size: 1.2rem;
          font-weight: 400;
          color: rgb(61, 61, 63);
        }
      }



    }

  }

}

.home-dash {
  background-color: aqua;
  height: 100%;
  flex-grow: 1;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controls-container {
  position: absolute; 
  top: 0rem;
  left: 0; 
  right: 0; 
  z-index: 1;
  margin-left: auto; 
  margin-right: auto; 
  // padding: 1.5rem 1.5rem 0rem 1.5rem;

}

.search-container {
  position: relative;
  padding: 1.5rem;
  // position: absolute; 
  // top: 0rem;
  // left: 0; 
  // right: 0; 
  // z-index: 1;
  // margin-left: auto; 
  // margin-right: auto; 
  // padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10rem;
  padding: 1.5rem;

  .search-submit, .help-submit {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;
    

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .help-submit {
    padding: 0.5rem;
    border-radius: 10rem;
    border: 1px solid black;
  }


  .search-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    // border: 1px solid orange;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    border-right: 1px solid rgb(61, 61, 63);

    p:nth-child(1) {
      color: black;
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p:nth-child(2) {
      color: rgb(61, 61, 63);
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    border-right: 1px solid rgb(61, 61, 63);

    input:nth-child(1) {
      border: none;
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    input:nth-child(2) {
      border: none;
      color: rgb(61, 61, 63);
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

}

.google-map {
  height: 100vh;
  // width: 100%;
  flex-grow: 1;
  position: relative;

  .map-container {
    width: 100%;
    height: 100%;
  }
}


.marker-icon {
  height: 1rem;
}

.combo-box-input {
  width: 100%;
  padding: 0.5rem;
  color: rgb(61, 61, 63);
}

.combo-box-list {
  background-color: #ffffff;
  position: relative;
  // padding-top: 2rem;
  z-index: 100;
  border-radius: 0.5rem;
  padding: 1rem;
}

.combo-box {
  width: 100%;
}
.combo-box-option {
  // background-color: #ffffff;
  padding-top: 1rem;
  cursor: pointer;
  span {
    font-size: 1.5rem;
  }
  border-radius: 0.5rem;
}

.filter-bar {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    margin: 0rem 2rem;
    background-color: #ffffff;
    border: none;
    border-radius: 10rem;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 300;
    cursor: pointer;
  }
}

