* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --bg-auth-main: #e3edfe;
  --bg-auth-sub: rgba(76, 193, 226,0.35);
  --bg-alt: #ffffff;
  --bg-search: #ffffff;
  --bg-btn-filter: rgb(194, 207, 255);
  --bg-unselected: rgba(112, 123, 149, 0.55);
  --txt-auth-main: #151d3d;
  --txt-auth-sub: #707b95;
  --txt-auth-alt: #e3edfe;
  --txt-auth-hl: #58a6ff;
  --txt-auth-hl2: rgb(76, 193, 226);
  --text-calendar: #000000;
  --error-red: #ff2b6d;
  --fav-gold: #FBAF00;
  --input-text: rgb(61, 61, 63);
  --input-shdw-a: rgba(0,0,0,0.1);
  --input-shdw-b: rgba(2,32,71,0.1);
  --box-shadow: rgba(61, 61, 63, 0.25);
  --best-green: #067411;
  --good-green: #799210;
  --ok-orange: #BC8F2A;
  --bad-red: #A15533;
  --na-grey: #3B3E49;
  --border-default: #b2cae6;
}

#root.dark {
  --bg-auth-main: rgb(33, 38, 45);
  --bg-auth-sub: rgb(28, 49, 74);
  --bg-alt: rgb(13, 17, 23);
  --bg-search: #161b22;
  --bg-btn-filter: rgb(194, 207, 255);
  --bg-unselected: #161b22;
  --txt-auth-main: #f0f6fc;
  --txt-auth-sub: #8b949e;
  --txt-auth-alt: #c9d1d9;
  --txt-auth-hl: #4c6ce2;
  --txt-auth-hl2: #4cc1e2;
  --text-calendar: #ffffff;
  --error-red: #ff2b6d;
  --fav-gold: #FBAF00;
  --input-text: #c9d1d9;
  --input-shdw-a: rgba(0,0,0,0.1);
  --input-shdw-b: rgba(2,32,71,0.1);
  --box-shadow: rgba(25, 25, 26, 0.55);
  --best-green: #067411;
  --good-green: #799210;
  --ok-orange: #BC8F2A;
  --bad-red: #A15533;
  --na-grey: #8b949e;
  --border-default: #30363d;
}



.home-dash {
  background-color: aqua;
  height: 100%;
  flex-grow: 1;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// ~~~~~~~~~~~~~~~~~~~~
// SIDE PANEL STYLES
// ~~~~~~~~~~~~~~~~~~~~
.side-panel-display {
  background-color: white;
  height: 100%;
  // width: 48rem;
  width: 30%;
  min-width: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid var(--border-default);

  header {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 5px var(--box-shadow);
    background-color: var(--bg-search);
    // border-radius: 0.4rem;
    border-bottom: 1px solid var(--border-default);

    h2{
      font-size: 2.5rem;
      font-weight: 600;
      color: var(--input-text);
    }

    .sort-control {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .sort-icon {
        width: 2rem;
        height: 2rem;

        svg {
          width: 100%;
          height: 100%;
          fill: var(--input-text);
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--input-text);
      }
    }
  }

  // RESORT ITEMS
  .resorts-display {  
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--bg-alt);

    .resort-conditions-display {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 1.5rem;
      padding: 1rem;
      transition: all 0.3s;
      cursor: pointer;
      background-color: var(--bg-auth-main);
      border-radius: 0.4rem;
      box-shadow: 0px 5px 5px var(--box-shadow);
      border: 1px solid var(--border-default);

      .resort-conditions-header {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem 0rem;
        position: relative;

        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          z-index: 1;

          .resort-name {
            font-size: 2rem;
            font-weight: 800;
            color: var(--txt-auth-main);
            max-width: 35rem;
            overflow-x: hidden;
            white-space: nowrap;
            text-align: start;
            text-overflow: ellipsis;        
            padding: 0.5rem 1rem 0.5rem 0rem;
          }

          .header-icon {
            margin-right: 1rem;
            cursor: pointer;
    
            svg {
              height: 2.5rem;
              width: 2.5rem;
              fill: var(--txt-auth-main);
              transition: all 0.3s;
            }
          }
    
          .header-icon.favorite {
            svg {
              fill: var(--fav-gold);
            }
          }
    
          .header-icon:hover {
            svg {
              scale: 1.2;
            }
          }
        }

        .title.favorite {
          .header-icon {
            svg {
              fill: var(--fav-gold);
            }
          }

        }

        .title:hover {
          .header-icon {
            svg {
              scale: 1.2;
            }
          }
        }

        .location {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          z-index: 1;
          padding: 0.5rem 0rem;

          p {
            font-size: 1.5rem;
            font-weight: 400;
            color: var(--txt-auth-sub);
            padding-right: 1rem;
          }

          .header-icon {
            margin-right: 0.5rem;

            svg {
              height: 1.5rem;
              width: 1.5rem;
              fill: var(--txt-auth-sub);
              transition: all 0.3s;
            }
          }
        }

        .location:hover {
          p {
            color: var(--txt-auth-hl);
          }
          .header-icon {
            svg {
              scale: 1.2;
              fill: var(--txt-auth-hl);
            }
          }
        }

        .rating {
          display: flex;
          align-items: center;
          flex-direction: flex-start;

          p:nth-child(1) {
            font-weight: 600;
          }

          p:nth-child(2) {
            font-weight: 400;
          }

          p[class*="rating"] { 
            font-size: 1.5rem;
            color: white;
            text-align: center;
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
          }
    
          .rating-best.value {
            background-color: var(--best-green);
          }
    
          .rating-good.value {
            background-color: var(--good-green);
          }
    
          .rating-ok.value {
            background-color: var(--ok-orange);
          }
    
          .rating-bad.value {
            background-color: var(--bad-red);
          }
    
          .rating-na.value {
            background-color: var(--na-grey);
          }

          .rating-best.desc {
            color: var(--best-green);
          }
    
          .rating-good.desc {
            color: var(--good-green);
          }
    
          .rating-ok.desc {
            color: var(--ok-orange);
          }
    
          .rating-bad.desc {
            color: var(--bad-red);
          }
    
          .rating-na.desc {
            color: var(--na-grey);
          }
        }

        .expand-collapse-btn {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border: none;
          background-color: transparent;
          cursor: pointer;
          position: absolute;
          top: 0rem;
          right: 0rem;

          .expand-collapse-icon {
            z-index: 1;
            width: 3rem;
            height: 3rem;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: cener;
            position: relative;
            cursor: pointer;
    
            div[class*="bar-1"] {
              width: 100%;
              border-bottom: 3px solid var(--txt-auth-sub);
              transition: border-bottom 0.3s;
              transform: translateY(2px)
            }
    
            div[class*="bar-2"] {
              width: 100%;
              border-bottom: 3px solid var(--txt-auth-sub);
              transition: border-bottom 0.3s;
              transform: rotate(90deg);
            }
          }
        }
      }

      .resort-conditions-detail {
        width: 100%;

        p.section-title {
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--txt-auth-sub);
          padding-right: 1rem;
          padding: 2rem 0rem 1rem 0rem;
        }

        .resort-conditions-current {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          gap: 1rem;
        }
      }

      .snow-condition {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 1rem 0rem 1rem;

        p {
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          padding-right: 1rem;
        }
      }

      .resort-conditions-calendar {
        width: 100%;
      }

      .resort-conditions-forecast {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        overflow-x: scroll;
        max-width: 100%;
        padding: 1.5rem 0rem;
        border-radius: 0.4rem;

        .forecast-item  {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background-color: var(--bg-unselected);
          padding: 1rem 1rem;
          border-radius: 0.4rem;

          .forecast-date {
            text-align: center;
            color: var(--txt-auth-alt);
            font-size: 1.6rem;
            font-weight: 400;
            padding: 1rem 0rem;
            margin: 0rem 1rem;
            border-bottom: 1px solid var(--txt-auth-sub);
            white-space: nowrap;
          }

          .forecast-primary {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            p {
              text-align: center;
              color: var(--txt-auth-alt);
              font-size: 2.5rem;
              font-weight: 800;
              padding: 1rem 0rem 2rem 0rem;
            }

          }
        }

        .forecast-item.expanded {
          background-color: var(--bg-auth-sub);

          p:nth-child(1) {
            color: var(--txt-auth-sub);
          }

          .forecast-primary {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            p {
              text-align: center;
              color: var(--txt-auth-hl);
              font-size: 2.5rem;
              font-weight: 800;
              padding: 1rem 0rem 1rem 0rem;
            }
          }

          .forecast-secondary {
            display: flex;  
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5rem;

            .forecast-detail-item {
              display: flex;  
              justify-content: flex-start;
              align-items: center;
              gap: 0.5rem;
              

              p:nth-child(1) {
                font-size: 1.4rem;
                font-weight: 400;
                color: var(--txt-auth-sub);
                white-space: nowrap;
              }

              p:nth-child(2) {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--txt-auth-main);
                white-space: nowrap;
              }
            }
          }
        }
      }
    }

    .resort-conditions-display:hover {
      .expand-collapse-icon {
				div[class*="bar-1"] {
					border-bottom: 3px solid var(--txt-auth-hl);
				}

				div[class*="bar-2"] {
					border-bottom: 3px solid var(--txt-auth-hl);
				}
			}
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~
// MAP STYLES
// ~~~~~~~~~~~~~~~~~~~~
.google-map {
  height: 100vh;
  // width: 100%;
  flex-grow: 1;
  position: relative;

  .map-container {
    width: 100%;
    height: 100%;
  }

  .controls-container {
    position: absolute; 
    top: 0rem;
    left: 0; 
    right: 0; 
    z-index: 1;
    margin-left: auto; 
    margin-right: auto; 

    .search-container {
      position: relative;
      padding: 1.5rem;
    }
  }

  .recenter-btn {
    height: 4.5rem;
    width: 4.5rem;
    position: absolute;
    left: 0.75rem;
    bottom: 0.75rem;
    // top: 1rem;
    z-index: 1;
    border-radius: 0.4rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgba(255,255,255,255);
  
    svg {
      height: 100%;
      width: 100%;
      fill: #666666;
      transition: fill 0.3s;
    }
  }
  
  .recenter-btn:hover {
    svg {
      fill: #333333;
    }
  }
}

//Search Bar Styles
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-search);
  border-radius: 10rem;
  padding: 1.5rem;
  box-shadow: 0px 5px 5px var(--box-shadow);
  // border: 1px solid var(--border-default);

  .search-submit {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--input-text);
    }
  }

  .account-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    cursor: pointer;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 10rem;
    }
  }


  .search-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--input-text);

    p:nth-child(2) {
      color: var(--input-text);
      font-size: 1.5rem;
      font-weight: 300;
      padding-left: 0.5rem;
    }
  }

  .search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    margin-right: 1rem;
    
    .combo-box-input {
      border: none;
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      color: var(--input-text);
      background-color: var(--bg-search);
    }
  }
}

//Misc Map Items
.combo-box {
  width: 100%;
  padding-right: 2rem;
}

.combo-box-list {
  background-color: #ffffff;;
  position: relative;
  // padding-top: 2rem;
  z-index: 100;
  border-radius: 0.5rem;
  padding: 1rem; 

  .combo-box-option {
    padding-top: 1rem;
    color: rgb(61, 61, 63);
    cursor: pointer;

    span {
      font-size: 1.5rem;
    }
  }
}

.combo-box-list.dark {
  background-color: #161b22;

  .combo-box-option {
    padding-top: 1rem;
    color: #c9d1d9;
  }
}

.filter-bar {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  padding-bottom: 2rem;

  button {
    margin: 0rem 2rem;
    background-color: var(--bg-search);
    border: none;
    border-radius: 10rem;
    padding: 0.5rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    color: var(--input-text);
    cursor: pointer;
    box-shadow: 0px 5px 5px var(--box-shadow);
  }

  button.selected {
    background-color: var(--bg-btn-filter);
    color: var(--txt-auth-hl);
    font-weight: 600;
    border: 2px solid var(--txt-auth-hl);
    
  }
}

.info-window {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h2 {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #151d3d;
    max-width: 25rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--txt-auth-sub);
    max-width: 25rem;
  }
}

.info-window-detail {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.info-window-detail-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: center;
  padding: 0.75rem;
  gap: 1rem;
  background-color: var(--bg-auth-sub);
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;

  .detail-item-icon {
    height: 1.5rem;
    width: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--txt-auth-hl);
    }
  }

  .detail-item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;

    p:nth-child(1) {
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--txt-auth-sub);
      white-space: nowrap;
    }

    p:nth-child(2) {
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--txt-auth-main);
      white-space: nowrap;
    }
  }
}

//Input Placeholder styling for multiple browsers
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    var(--input-text);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:   var(--input-text);
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:   var(--input-text);
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    var(--input-text);
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    var(--input-text);
}
::placeholder { /* Most modern browsers support this now. */
 color:    var(--input-text);
}

/* Autofill input styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px var(--bg-search) inset;
  font-family: 'muli', sans-serif;
  width: 100%;
  font-size: 1.8rem;
  color: var(--txt-auth-main);
}