.loading-screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #4cc1e2,#4c6ce2);
}

#content {
    z-index: 10;

    h1 {
        font-family: 'Inter', sans-serif;
        font-size: 10rem;
        font-weight: 900;
        color: #e3edfe;
    }
}