@media only screen and (max-width: 950px) { //tablets, small desktop & mobile
    #root {
        // height: 85vh;
        // width: 100vw;
        // // min-height: 100vh;
        // height: -webkit-fill-available;
        display: flex;
        align-items: center;
        height: auto;
        min-height: -webkit-fill-available;
        min-height: 100vh;
        background-color: (var(--bg-auth-main));
    }
    
    .home-dash {
      background-color: aqua;
      // height: 100%;
      flex-grow: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }


    // ~~~~~~~~~~~~~~~~~~~~
    // BOTTOM PANEL STYLES
    // ~~~~~~~~~~~~~~~~~~~~

    .react-modal-sheet-container {
        --bg-auth-main: #e3edfe;
        --bg-auth-sub: rgba(76, 193, 226,0.35);
        --bg-alt: #ffffff;
        --bg-search: #ffffff;
        --bg-btn-filter: rgb(194, 207, 255);
        --bg-unselected: rgba(112, 123, 149, 0.55);
        --txt-auth-main: #151d3d;
        --txt-auth-sub: #707b95;
        --txt-auth-alt: #e3edfe;
        --txt-auth-hl: #58a6ff;
        --txt-auth-hl2: rgb(76, 193, 226);
        --text-calendar: #000000;
        --error-red: #ff2b6d;
        --fav-gold: #FBAF00;
        --input-text: rgb(61, 61, 63);
        --input-shdw-a: rgba(0,0,0,0.1);
        --input-shdw-b: rgba(2,32,71,0.1);
        --box-shadow: rgba(61, 61, 63, 0.25);
        --best-green: #067411;
        --good-green: #799210;
        --ok-orange: #BC8F2A;
        --bad-red: #A15533;
        --na-grey: #3B3E49;
        --border-default: #b2cae6;
    }

    .react-modal-sheet-container.dark {
        --bg-auth-main: rgb(33, 38, 45);
        --bg-auth-sub: rgb(28, 49, 74);
        --bg-alt: rgb(13, 17, 23);
        --bg-search: #161b22;
        --bg-btn-filter: rgb(194, 207, 255);
        --bg-unselected: #161b22;
        --txt-auth-main: #f0f6fc;
        --txt-auth-sub: #8b949e;
        --txt-auth-alt: #c9d1d9;
        --txt-auth-hl: #4c6ce2;
        --txt-auth-hl2: #4cc1e2;
        --text-calendar: #ffffff;
        --error-red: #ff2b6d;
        --fav-gold: #FBAF00;
        --input-text: #c9d1d9;
        --input-shdw-a: rgba(0,0,0,0.1);
        --input-shdw-b: rgba(2,32,71,0.1);
        --box-shadow: rgba(25, 25, 26, 0.55);
        --best-green: #067411;
        --good-green: #799210;
        --ok-orange: #BC8F2A;
        --bad-red: #A15533;
        --na-grey: #8b949e;
        --border-default: #30363d;
    }

    .react-modal-sheet-header {
        background-color: var(--bg-alt);
    }
    

    .bottom-panel-header {
        width: 100%;
        padding: 1rem 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 5px 5px var(--box-shadow);
        background-color: var(--bg-search);
        border: 1px solid var(--border-default);
        cursor: pointer;
    
        h2{
          font-size: 1.6rem;
          font-weight: 600;
          color: var(--input-text);
          transition: color 0.3s;
        }
    
        .sort-control {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
    
          .sort-icon {
            width: 1.2rem;
            height: 1.2rem;
    
            svg {
              width: 100%;
              height: 100%;
              fill: var(--input-text);
              transition: fill 0.3s;
            }
          }
    
          p {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--input-text);
            transition: color 0.3s;
            max-width: 17rem;
            overflow-x: hidden;
            white-space: nowrap;
            text-align: start;
            text-overflow: ellipsis;   
          }
        }
    }

    .bottom-panel-header:hover {
        h2{
          color: var(--txt-auth-hl);
        }
    
        .sort-control {
          .sort-icon {
            color: var(--txt-auth-hl);
    
            svg {
              fill: var(--txt-auth-hl);
            }
          }
    
          p {
            color: var(--txt-auth-hl);
          }
        }
    }

    .bottom-panel-results {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: var(--bg-alt);

        .resort-conditions-display {
            margin: 1rem;
            padding: 0.5rem;
            transition: all 0.3s;
            cursor: pointer;
            background-color: var(--bg-auth-main);
            border-radius: 0.4rem;
            box-shadow: 0px 5px 5px var(--box-shadow);
            border: 1px solid var(--border-default);
      
            .resort-conditions-header {
              width: 100%;
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
              padding: 0.5rem 0rem;
              position: relative;
      
              .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                z-index: 1;
      
                .resort-name {
                  font-size: 1.6rem;
                  font-weight: 800;
                  color: var(--txt-auth-main);
                  max-width: 20rem;
                  overflow-x: hidden;
                  white-space: nowrap;
                  text-align: start;
                  text-overflow: ellipsis;        
                  padding: 0.5rem 1rem 0.5rem 0rem;
                }
      
                .header-icon {
                  margin-right: 1rem;
                  cursor: pointer;
          
                  svg {
                    height: 2rem;
                    width: 2rem;
                    fill: var(--txt-auth-main);
                    transition: all 0.3s;
                  }
                }
          
                .header-icon.favorite {
                  svg {
                    fill: var(--fav-gold);
                  }
                }
          
                .header-icon:hover {
                  svg {
                    scale: 1.2;
                  }
                }
              }
      
              .title.favorite {
                .header-icon {
                  svg {
                    fill: var(--fav-gold);
                  }
                }
              }
      
              .title:hover {
                .header-icon {
                  svg {
                    scale: 1.2;
                  }
                }
              }
      
              .location {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                z-index: 1;
                padding: 1rem 0rem;
      
                p {
                  font-size: 1.2rem;
                  font-weight: 400;
                  color: var(--txt-auth-sub);
                  padding-right: 1rem;
                }
      
                .header-icon {
                  margin-right: 0.5rem;
      
                  svg {
                    height: 1.2rem;
                    width: 1.2rem;
                    fill: var(--txt-auth-sub);
                    transition: all 0.3s;
                  }
                }
              }
      
              .location:hover {
                p {
                  color: var(--txt-auth-hl);
                }
                .header-icon {
                  svg {
                    scale: 1.2;
                    fill: var(--txt-auth-hl);
                  }
                }
              }
      
              .rating {
                display: flex;
                align-items: center;
                flex-direction: flex-start;
      
                p:nth-child(1) {
                  font-weight: 600;
                }
      
                p:nth-child(2) {
                  font-weight: 400;
                }
      
                p[class*="rating"] { 
                  font-size: 1.2rem;
                  color: white;
                  text-align: center;
                  padding: 0.5rem;
                  border-radius: 0.5rem;
                  margin-right: 0.5rem;
                }
          
                .rating-best.value {
                  background-color: var(--best-green);
                }
          
                .rating-good.value {
                  background-color: var(--good-green);
                }
          
                .rating-ok.value {
                  background-color: var(--ok-orange);
                }
          
                .rating-bad.value {
                  background-color: var(--bad-red);
                }
          
                .rating-na.value {
                  background-color: var(--na-grey);
                }
      
                .rating-best.desc {
                  color: var(--best-green);
                }
          
                .rating-good.desc {
                  color: var(--good-green);
                }
          
                .rating-ok.desc {
                  color: var(--ok-orange);
                }
          
                .rating-bad.desc {
                  color: var(--bad-red);
                }
          
                .rating-na.desc {
                  color: var(--na-grey);
                }
              }
      
              .expand-collapse-btn {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border: none;
                background-color: transparent;
                cursor: pointer;
                position: absolute;
                top: 0rem;
                right: 0rem;
      
                .expand-collapse-icon {
                  z-index: 1;
                  width: 3rem;
                  height: 3rem;
                  padding: 0.5rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: cener;
                  position: relative;
                  cursor: pointer;
          
                  div[class*="bar-1"] {
                    width: 100%;
                    border-bottom: 3px solid var(--txt-auth-sub);
                    transition: border-bottom 0.3s;
                    transform: translateY(2px)
                  }
          
                  div[class*="bar-2"] {
                    width: 100%;
                    border-bottom: 3px solid var(--txt-auth-sub);
                    transition: border-bottom 0.3s;
                    transform: rotate(90deg);
                  }
                }
              }
            }
      
            .resort-conditions-detail {
              width: 100%;
      
              p.section-title {
                font-size: 1.2rem;
                font-weight: 400;
                color: var(--txt-auth-sub);
                padding-right: 1rem;
                padding: 1.5rem 0rem 0.5rem 0rem;
              }
      
              .resort-conditions-current {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5rem;

              }
            }
      
            .snow-condition {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              padding: 1rem 1rem 0rem 1rem;
      
              p {
                font-size: 1.5rem;
                font-weight: 400;
                color: #000000;
                padding-right: 1rem;
              }
            }
      
            .resort-conditions-calendar {
              width: 100%;
            }
      
            .resort-conditions-forecast {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              gap: 1rem;
              overflow-x: scroll;
              max-width: 100%;
              padding-bottom: 1rem;
              border-radius: 0.4rem;
      
              .forecast-item  {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: var(--bg-unselected);
                padding: 1rem 1rem;
                border-radius: 0.4rem;
      
                .forecast-date {
                  text-align: center;
                  color: var(--txt-auth-alt);
                  font-size: 1.4rem;
                  font-weight: 400;
                  padding: 0.5rem 0rem;
                  margin: 0rem 0.5rem;
                  border-bottom: 1px solid var(--txt-auth-sub);
                  white-space: nowrap;
                }
      
                .forecast-primary {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
      
      
                  p {
                    text-align: center;
                    color: var(--txt-auth-alt);
                    font-size: 2rem;
                    font-weight: 800;
                    padding: 1rem 0rem 2rem 0rem;
                  }
      
                }
              }
      
              .forecast-item.expanded {
                background-color: var(--bg-auth-sub);
      
                p:nth-child(1) {
                  color: var(--txt-auth-sub);
                }
      
                .forecast-primary {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
      
                  p {
                    text-align: center;
                    color: var(--txt-auth-hl);
                    font-size: 2rem;
                    font-weight: 800;
                    padding: 1rem 0rem 1rem 0rem;
                  }
                }
      
                .forecast-secondary {
                  display: flex;  
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 0.5rem;
      
                  .forecast-detail-item {
                    display: flex;  
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5rem;
                    
      
                    p:nth-child(1) {
                      font-size: 1.2rem;
                      font-weight: 400;
                      color: var(--txt-auth-sub);
                      white-space: nowrap;
                    }
      
                    p:nth-child(2) {
                      font-size: 1.2rem;
                      font-weight: 600;
                      color: var(--txt-auth-main);
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
    }
      
    // ~~~~~~~~~~~~~~~~~~~~
    // MAP STYLES
    // ~~~~~~~~~~~~~~~~~~~~
    .google-map {
        // height: 100vh;
        width: 100%;
        flex-grow: 1;
        position: relative;

        .controls-container {
            .search-container {
                padding: 0.5rem;
            }
        }
    
        .recenter-btn {
            height: 4rem;
            width: 4rem;
        }
    }
    
    //Search Bar Styles
    .search-bar {
        padding: 0.5rem 1rem;

    
        .search-submit {
            width: 2.5rem;
            height: 2.5rem;
            margin: 0.5rem;
        }
    
        .account-avatar {
            margin: 0.5rem;
        
            img {
                width: 3rem;
                height: 3rem;
            }
        }
    
        .search-display {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        
            p:nth-child(2) {
            font-size: 1.2rem;
            }
        }
    
        .search-form {
            margin-right: 0rem;
            
            .combo-box-input {
                font-size: 1.8rem;
                margin-bottom: 0rem;
            }
        }
    }
    
    //Misc Map Items
    .combo-box {
        padding-right: 0rem;
    }
    
      
    .filter-bar {
        width: 100%;
        padding: 0.5rem;
        padding-bottom: 1.5rem;
        
        button {
            margin: 0rem 1rem;
            padding: 0.75rem 1rem;
            font-size: 1.2rem;
        }
    }
      
      .info-window {
        h2 {
          font-size: 1.6rem;
        }
      
        p {
          font-size: 1.2rem;
        }
      }
      
      .info-window-detail-item {
 
        padding: 0.5rem;
        gap: 0.5rem;
        width: auto;
  
      
        .detail-item-icon {
          height: 1.2rem;
          width: 1.2rem;
        }
      
        .detail-item-header {
          gap: 0.25rem;
      
          p:nth-child(1) {
            font-size: 1.2rem;
          }
      
          p:nth-child(2) {
            font-size: 1.2rem;
          }
        }
      }
      
      /* Autofill input styling */
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active{
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 50px var(--bg-search) inset;
        font-family: 'muli', sans-serif;
        width: 100%;
        font-size: 1.8rem;
        color: var(--txt-auth-main);
    }

    // ~~~~~~~~~~~~~~~~~~~~
    // ACCOUNT SETTINGS MODAL
    // ~~~~~~~~~~~~~~~~~~~~
    .modal-overlay {
    }
    
    .user-account-modal {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 2.5rem 1rem;
        min-width: auto;
    
        .modal-header {
            .header-text {
    
                h1 {
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: var(--txt-auth-main);
                }
    
                p {
                    font-size: 1.2rem;
                }
            }
        }
    
        .settings-container {
            width: 100%;
            overflow-x: hidden;
            padding: 1rem 0rem;
        }
    
        .profile-image-form {
            flex-direction: column;
    
            .image-upload-container {
                align-items: center;
                width: 100%;
    
                h2 {
                    margin-top: 1rem;
                    font-size: 1.6rem;
                }
    
                p {
                    font-size: 1.2rem;
                }
    
                .upload-controls-container {
                    justify-content: center;
                    gap: 1rem;
    
                    .upload-status-display {
                        min-width: auto;
                    }
    
                    .custom-file-upload {
                        font-size: 1.4rem;
                    }
    
                    #img-preview {
                        font-size: 1rem;
                    }
    
                    #img-preview.invalid {
                        color: var(--error-red);
                    }
    
                    button {
                        padding: 1rem 2rem;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    
        .account-settings-form {
            max-height: none;
            padding: 1rem;
    
            .modal-section-header {
                margin-top: 1rem;
                font-size: 1.4rem;
            }
    
            .names-container {
                flex-direction: column;
                gap: 0rem;
    
                .form-item-container {
                    width: 100%;
                }
            }
    
            .form-item-container {
                min-width: auto;
                margin-bottom: 1rem; 
                label {
                    font-size: 1.2rem;
                }

                input {
                    font-size: 1.4rem;
                }
    
                p {
                    padding: 0.5rem 0rem;
                    font-size: 1.2rem;
                }
            }
    
            .password-container {
    
                .btn-container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1rem;
    
                    button:nth-child(2) {
                        color: #ff2b6d;
                    }
                }
    
                button {
                    font-size: 1.4rem;
                }
            }

            .pass-error-container {
                p {
                    font-size: 1.2rem;
                }
            }
    
            .color-theme-label {
                font-size: 1.2rem;
            }
    
            .color-theme-container {
                gap: 1rem;
            }
    
            .favorites-container {
                padding: 0.5rem;
    
                button {
                    p:nth-child(1) {
                        font-size: 1.2rem;
                    }
                    p:nth-child(2) {
                        font-size: 1.2rem;
                    }
                }
    
                p {
                    font-size: 1.2rem;
                }
            }
        }
    
        .submit-form  {
            font-size: 1.4rem;
        }
    
        .user-logout {
            font-size: 1.4rem;
            padding: 1.5rem 0rem 0rem 0rem;
        }
    }


    // ~~~~~~~~~~~~~~~~~~~~
    // Loading Screeon
    // ~~~~~~~~~~~~~~~~~~~~
    
    #content {
        h1 {
            font-size: 4rem;
        }

        img {
          height: 2.7rem;
        }
    }

    // ~~~~~~~~~~~~~~~~~~~~
    // AUTH COMPONENTS
    // ~~~~~~~~~~~~~~~~~~~~


    .auth-container {
      // height: auto;
      height: 100%;
      // min-height: -webkit-fill-available;
      background-color: red;


      .auth-right {
          width: 100%;
          flex: auto;
          height: 100%;
          min-width: auto;
          padding: 2rem;
      }

      .auth-content {
          width: 100%;
          max-width: 50rem;

          .auth-header {
              margin-bottom: 2rem;
      
              .auth-header-main {
      
                  h1 {
                      font-size: 2.5rem;
                  }  
              }
              
              .auth-header-sub {
                  font-size: 1.4rem;
              }
          }

          a {
              font-size: 1.6rem;
          }

          .form-submit-container {

              .form-btn-container {
                  flex-grow: 1;

                  button {
                      padding: 1.5rem 3rem;
                      font-size: 1.4rem;
                  }
              }
          }     
      }
    }


    //Form item containers used for mupltiple inputs including
    //auth compnents, user account modal
    .form-item-container {
        min-width: auto;
        margin-bottom: 1rem;

        label {
            font-size: 1.2rem;
        }

        .input-container {
            input {
                font-size: 1.6rem;
            }
        }

        p {
            font-size: 1.2rem;
            padding: 0.5rem 0rem 0rem 0rem;
        }
    }

    .pass-error-container {
        div[id*="pass-error-signin"] {
            p {
                font-size: 1.2rem;
            }
        }
    }   
}